*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6f97c5;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 8px;
}
