*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #6f97c5;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 8px;
}

.login h1{
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.login form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

}
.login input{
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.login button{
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
