*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6f97c5;
    padding: 10px 20px;
}
.h1{
    font-size: 28px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

}
.nav-menu{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.nav-menu li a{
    text-decoration: none;
    color: #333;
    font-weight: 500;
}
